.heading {
    font-size: 20px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
  }
 
  .formgroup {
    width: 100%;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
  }

  .formGroup label {
    margin-bottom: 2px;
  }
  
  .input {
    padding: 5px 8px;
    background-color: transparent;
    border: 1px solid #bbb;
    border-radius: 4px;
    width: 100%;
  }
 
  .buttonGroup {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }
  
  .disabledButton {
    background-color: #9aa0a3;
  }
  .saveButton {
    background-color: #53c28b;
    cursor: pointer;
  }
  .cancelButton {
    background-color: #443f14;
    cursor: pointer;
  }
  .editButton {
    background-color: #367fd7;
    cursor: pointer;
  }
  .updateButton {
    background-color: #e0a031;
    cursor: pointer;
  }
  .deleteButton {
    background-color: #e23b0c;
    cursor: pointer;
  }
  .saveButton,
  .deleteButton,
  .updateButton,
  .editButton,
  .cancelButton,
  .disabledButton {
    width: 120px;
    border: none;
    border-radius: 5px;
    color: #eee;
    padding: 7px;
  }

  .form {
    width: 100%;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
  

  @media (max-width: 1024px) {
    .form {
      width: 100%;
      max-width: 95%;
      margin-left: auto;
      margin-right: auto;
      grid-template-columns: 1fr 1fr;
      gap: 6px;
    }
  }
  @media (max-width: 820px) {
    .heading {
      font-size: 26px;
      margin: 10px 0;
    }
    
    .saveButton 
    .cancelButton,
    .editButton,
    .updateButton,
    .deleteButton,
    .disabledButton{
      width: 100%;
      align-items: center;
    }
  }
  @media (max-width: 600px) {
    .form {
      width: 100%;
      grid-template-columns: 1fr;
      gap: 4px;
    }
    .buttonGroup {
      flex-direction: column;
      margin-top: 0;
    }
    .cancelButton,
    .saveButton ,
    .editButton,
    .updateButton,
    .deleteButton,
    .disabledButton {
      width: 100%;
    }
  }
  

  